<h1>User Edit</h1>
<% if !self.current_user %>
	<%= form_for (@user) do |f| %>
		Name: <%= f.text_field :name %>
		Email: <%= f.text_field :email %>
		Password: <%= f.text_field :password %>
		Zip: <%= f.text_field :zip %>
		<%= f.submit "Save User" %>
	<% end %>
<% else %>
	<%= link_to "Create New List", new_list_path %>
	<%= link_to "Edit My List", edit_list_path(:id) %>
<% end %>

<%= link_to "Home", :root %>
